description = "html base template"
==
<!doctype html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
		<meta name="description" content="{{ this.page.meta_description }}">
		<title>{{ this.page.meta_title }}</title>
		<link rel="stylesheet" href="{{ 'assets/css/style.css'|theme }}" media="all">
	</head>
	<body>
		{% page %}
	</body>
</html>
