/.idea
/bootstrap
/galeries/*
!/galeries/.gitkeep
/modules
/node_modules
/storage
/tests
/vendor

.env
/.travis.yml
/artisan
/CHANGELOG.md
/composer.json
/composer.lock
/index.php
/phpunit.xml
/README.md
/server.php
/TODO.md
