/.fusebox
/.idea
/bootstrap
/dist
/galeries/*
!/galeries/.gitkeep
/modules
/node_modules
/storage
/tests
/themes/bsouetre/assets/css
/themes/bsouetre/assets/js
/themes/bsouetre/assets/static
/themes/bsouetre-galeries/assets/css
/themes/bsouetre-galeries/assets/js
/themes/bsouetre-galeries/assets/static
/themes/bsouetre-shop/assets/css
/themes/bsouetre-shop/assets/js
/themes/bsouetre-shop/assets/static
/vendor
/plugins/bedard

/.travis.yml
/android-*.png
/apple-*.png
/artisan
/browserconfig.xml
/CHANGELOG.md
/composer.json
/composer.lock
/favicon*
!/favicon-base.png
/index.php
/manifest.json
/mstile-*.png
/phpunit.xml
/README.md
/safari-pinned-tab.svg
/server.php
/TODO.md

.env
.gitignore
