/.fusebox
/.idea
/bootstrap
/dist
/galeries/*
!/galeries/.gitkeep
/modules
/node_modules
/storage
/tests
/themes/bsouetre/assets/css
/themes/bsouetre/assets/js
/themes/bsouetre/assets/static
/themes/bsouetre-galeries/assets/css
/themes/bsouetre-galeries/assets/js
/themes/bsouetre-galeries/assets/static
/themes/bsouetre-shop/assets/css
/themes/bsouetre-shop/assets/js
/themes/bsouetre-shop/assets/static
/vendor

/.travis.yml
/artisan
/CHANGELOG.md
/composer.json
/composer.lock
/index.php
/phpunit.xml
/README.md
/server.php
/TODO.md

.env
