/* 	======================================================================
		|	STRUCTURE / GALLERY
		======================================================================
		====================================================================== */

.galleryHeader {
	margin: 0;
	padding: 14rem 0 10rem;
	display: flex;

	@media ( max-width: 60em ) {
		padding: 8rem 3rem;
	}

	@media ( max-width: 37.5em ) {
		padding: 6rem 2rem;
	}

	> nav {
		text-align: center;
		flex-basis: 20rem;

		@media ( max-width: 60em ) {
			text-align: left;
			flex-basis: 10rem;
		}

		@media ( max-width: 37.5em ) {
			flex-basis: 7rem;
		}
	}
}

.content > section {
	padding: 0 2rem 0 20rem;

	@media ( max-width: 60em ) {
		padding-left: 3rem;
		padding-right: 3rem;
	}

	@media ( max-width: 37.5em ) {
		padding-left: 2rem;
		padding-right: 2rem;
	}
}

.butBackGalleries {
	border-width: .3rem;
	border-color: $colorIcon;
	border-style: solid;
	border-radius: 3rem;
	display: inline-block;
	width: 6rem;
	height: 6rem;
	position: relative;
	transition: transform 150ms ease-in, background-color 150ms ease-in, fill 150ms ease-in;

	@media ( max-width: 37.5em ) {
		border-radius: 2.5rem;
		width: 5rem;
		height: 5rem;
		top: .6rem;
	}

	&:focus,
	&:hover,
	&:active {
		transform: translateX( -.5rem );
		background-color: $colorIcon;

		@media ( max-width: 60em ) {
			transform: none;
		}

		> svg {
			fill: $colorBgMain;
		}
	}

	> svg {
		fill: $colorIcon;
		width: 2rem;
		transform: translate( -60%, -50% ) rotate( -90deg );
		position: absolute;
		top: 50%;
		left: 50%;
	}
}

.galleryInfo {
	margin: 0;

	> h1 {
		text-transform: uppercase;
		font-family: $typoTitleStack;
		font-size: 5.6rem;
		line-height: 1;
		margin: 0;

		@media ( max-width: 37.5em ) {
			font-size: 3.6rem;
		}
	}

	> p {
		text-transform: uppercase;
		font-weight: 700;
		font-size: 1.8rem;
		margin: 0;
	}
}

.galleryDescription {
	margin: 5rem 0 0;

	@media ( max-width: 37.5em ) {
		margin-top: 3rem;
	}

	p {
		max-width: 100rem;

		+ p {
			margin-top: 2rem;
		}

		a {
			background-image: linear-gradient(180deg, $colorTypoLinkUnderlineHover, $colorTypoLinkUnderlineHover);
			background-position: 0 1em;
			background-size: 100% 100%;
			background-repeat: no-repeat;
			padding: .1em .2em;
			transition: background-position 150ms ease-out, color 150ms ease-out;
			font-weight: 400;
			color: $colorTypoLink;
			text-decoration: none;

			&:focus,
			&:hover,
			&:active {
				color: $colorTypoLinkHover;
				background-position: 0 .2rem;
			}
		}
	}
}

.galleryImages {
	margin: 8rem 0 12rem;

	@media ( max-width: 37.5em ) {
		margin-top: 6rem;
		margin-bottom: 6rem;
	}

	> a {
		display: inline-block;
		vertical-align: top;
		height: 26rem;
		min-width: 20rem;
		margin: 0 1rem 1rem 0;
		transition: transform 150ms ease-in, filter 150ms ease-in;
		background-color: darken( $colorBgMain, 5% );
		background-image: url( '../static/img/thumb-loader.svg' );
		background-repeat: no-repeat;
		background-position: center center;

		@media ( max-width: 31.25em ) {
			height: auto;
			width: 100%;
			min-width: 10rem;
			min-height: 15rem;
			margin: 0 .5rem .5rem 0;
		}

		> img {
			width: auto;
			max-height: 26rem;

			@media ( max-width: 31.25em ) {
				max-height: none;
			}

			&.lazyImg {
				opacity: 0;
				transition: opacity 600ms ease-out .6s;
				&.imgLoaded {
					opacity: 1;
				}
			}
		}

		&:focus,
		&:hover,
		&:active {
			filter: contrast( 200% ) saturate( 200% );
		}
	}
}
