/* 	======================================================================
		|	STRUCTURE / GALLERY
		======================================================================
		====================================================================== */

.galleryHeader {
	margin: 0;
	padding: 14rem 0 10rem;
	display: flex;

	> nav {
		text-align: center;
		flex-basis: 20rem;
	}
}

.butBackGalleries {
	border-width: .3rem;
	border-color: $colorIcon;
	border-style: solid;
	border-radius: 4rem;
	display: inline-block;
	width: 6rem;
	height: 6rem;
	position: relative;
	transition: transform 150ms ease-in, background-color 150ms ease-in, fill 150ms ease-in;

	&:focus,
	&:hover,
	&:active {
		transform: translateX( -.5rem );
		background-color: $colorIcon;

		> svg {
			fill: $colorBgMain;
		}
	}

	> svg {
		fill: $colorIcon;
		width: 2rem;
		transform: translate( -60%, -50% ) rotate( -90deg );
		position: absolute;
		top: 50%;
		left: 50%;
	}
}

.galleryInfo {
	margin: 0;
	padding: 0 2rem 0 20rem;

	> h1 {
		text-transform: uppercase;
		font-family: $typoTitleStack;
		font-size: 5.6rem;
		line-height: 1;
		margin: 0;
	}

	> p {
		text-transform: uppercase;
		font-weight: 700;
		font-size: 1.8rem;
		margin: 0;
	}
}

.galleryDescription {
	margin: 5rem 0 0;
	padding: 0 2rem 0 20rem;

	p {
		max-width: 100rem;

		+ p {
			margin-top: 2rem;
		}

		> a {
			position: relative;
			transition: color 150ms ease;
			color: $colorTypoLink;
			font-weight: 400;
			text-decoration: none;
			z-index: 0;

			&:focus,
			&:hover,
			&:active {
				color: $colorTypoLinkHover;
				&:before {
					transform: scaleY( 1 );
				}
			}

			&:before {
				position: absolute;
				top: 0;
				left: -.3rem;
				right: -.3rem;
				bottom: -.1rem;
				z-index: -1;
				content: '';
				background-color: $colorTypoLinkUnderlineHover;
				transform: scaleY( 0.4 );
				transform-origin: bottom;
				transition: transform 150ms ease-out;
			}
		}
	}
}

.galleryImages {
	margin: 8rem 0 12rem;
	padding: 0 2rem 0 20rem;

	> a {
		display: inline-block;
		height: 40rem;
		min-width: 20rem;
		margin: 0 1rem 1rem 0;
		transition: transform 150ms ease-in, filter 150ms ease-in;

		> img {
			width: auto;
			max-height: 40rem;

			&.lazyImg {
				opacity: 0;
				transition: opacity 600ms ease-out 1.2s;
				&.b-loaded {
					opacity: 1;
				}
			}
		}

		&:focus,
		&:hover,
		&:active {
			filter: contrast( 200% ) saturate( 200% );
		}
	}
}
