/* 	======================================================================
		|	STRUCTURE / FOOTER
		======================================================================
		====================================================================== */

header {
	> div {
		max-width: 140rem;
		margin: 0 auto;
		padding-top: 4rem;
		display: flex;
		justify-content: space-between;
		border-top-width: .6rem;
		border-top-style: solid;
		border-top-color: $colorHeaderBorderTop;

		> div {
			width: 66.6666%;
			display: flex;

			@media ( max-width: em( 1400px ) ) {
				padding-left: 1.4rem;
			}

			@media ( max-width: em( 900px ) ) {
				width: 50%;
				display: block;
			}

			> div {
				width: 50%;
				padding: 0 .6rem;

				@media ( max-width: em( 900px ) ) {
					width: 100%;
				}

				&:first-child {
					font-weight: 700;
				}

				&:last-child {
					color: $colorTypoAlt;
				}
			}
		}

		> nav {
			width: 33.3333%;
			padding: 0 .6rem;

			@media ( max-width: em( 900px ) ) {
				width: 50%;
			}

			> ul {
				list-style: none;
				padding: 0;

				> li {
					padding-bottom: .5rem;

					&.active > span {
						color: $colorBgMain;
						padding: 0 .3em;
						font-weight: 700;
						background-image: linear-gradient( $colorTypoLinkUnderlineHover, $colorTypoLinkUnderlineHover );
						background-repeat: no-repeat;
						background-position: 0 100%;
						background-size: 100% 100%;
					}

					a {
						text-decoration: none;
						color: $colorTypoBase;
						padding: 0 .3em;
						background-image: linear-gradient( $colorTypoLinkUnderlineHover, $colorTypoLinkUnderlineHover );
						background-repeat: no-repeat;
						background-position: 0 100%;
						background-size: 100% .2em;
						transition: background-size 200ms ease, color 200ms ease;

						&:focus,
						&:hover,
						&:active {
							background-size: 100% 100%;
							color: $colorBgMain;
						}
					}
				}
			}
		}
	}
}
