<footer>
	<nav>
		<ul>
			<li>
				<a href="http://rgsone.com" title="Visiter le site de rgsone">
					<svg><use xlink:href="#logo-rgsone"></use></svg><span>Design &<br>développement</span>
				</a>
			</li>
			<li>
				<a href="http://400pourcent.net" title="Visiter le site de la Galerie 400 %">
					<svg><use xlink:href="#logo-400p"></use></svg><span>Galerie<br>400&nbsp;%</span>
				</a>
			</li>
			<li>
				<a href="http://www.alliance-francaise-des-designers.org" title="Visiter le site de l'AFD">
					<svg><use xlink:href="#logo-afd"></use></svg><span>Membre<br>de&nbsp;l'AFD</span>
				</a>
			</li>
			<li>
				<a href="http://galeries.brunosouetre.net" title="Visiter les galeries de Bruno Souêtre">
					<svg><use xlink:href="#logo-afd"></use></svg><span>Les Galeries</span>
				</a>
			</li>
		</ul>
	</nav>
</footer>
