<header>

	<div>
		<div>
			<div>
				Bruno Souêtre
			</div>
			<div>
				Graphiste
			</div>
		</div>
		<nav>
			<ul>

					{% if not ( this.page.title == 'bsouetre/home' ) %}
					<li><a href="{{ 'home'|page }}" title="Home">Home</a></li>
					{% endif %}

					{% if this.page.title == 'bsouetre/archives' %}
					<li class="active"><span>Archives</span></li>
					{% else %}
					<li><a href="{{ 'archives'|page }}" title="Les archives">Archives</a></li>
					{% endif %}

					{% if this.page.title == 'bsouetre/about' %}
					<li class="active"><span>À&nbsp;Propos</span></li>
					{% else %}
					<li><a href="{{ 'about'|page }}" title="À Propos">À&nbsp;Propos</a></li>
					{% endif %}

					{% if this.page.title == 'bsouetre/contact' %}
					<li class="active"><span>Contact</span></li>
					{% else %}
					<li><a href="{{ 'contact'|page }}" title="Contact">Contact</a></li>
					{% endif %}

					<li><a href="http://shop.brunosouetre.net" title="Visiter le shop !">Shop</a></li>
					<li><a href="https://www.instagram.com/brunosouetre/" title="Voir le compte instagram !">Instagram</a></li>

			</ul>
		</nav>
	</div>

</header>
