title = "bsouetre / archives"
url = "/archives"
layout = "base"
meta_title = "Bruno Souêtre — Graphiste / Archives"
meta_description = "Consultez les archives des projets"
is_hidden = 0

[archivesPage]
==
<nav>
	<ul>
		<li><a href="{{ 'home'|page }}">Accueil</a></li>
		<li><a href="{{ 'about'|page }}">À Propos</a></li>
		<li><a href="{{ 'contact'|page }}">Contact</a></li>
	</ul>
</nav>
<h1>Archives</h1>
<section>
	{% if categories %}
		<p>catégories</p>
		<ul>
			{% for category in categories %}
				<li>{{ category.name }}</li>
			{% endfor %}
		</ul>
	{% endif %}
	{% if tags %}
		<p>tags</p>
		<ul>
			{% for tag in tags %}
				<li>{{ tag.name }}</li>
			{% endfor %}
		</ul>
	{% endif %}
</section>
<section>
	<h3>projets</h3>
	{% for key, projectByDate in projectsByDate %}
		<ul>
			<li>{{ key }}</li>
			{% for project in projectByDate %}
				<li><a href="{{ project.url }}">{{ project.title }}</a></li>
			{% endfor %}
		</ul>
	{% endfor %}
</section>
