title = "bsouetre / home"
url = "/"
layout = "base"
meta_title = "Bruno Souêtre — Graphiste / Bonjour !"
meta_description = "Bonjour ! Bienvenue sur le site de Bruno Souêtre graphiste à Cambrai."
is_hidden = 0

[homePage]
==
<nav>
	<ul>
		<li><a href="{{ 'archives'|page }}">Archives</a></li>
		<li><a href="{{ 'about'|page }}">À Propos</a></li>
		<li><a href="{{ 'contact'|page }}">Contact</a></li>
	</ul>
</nav>
{% if highlighted.activated %}
<section>
	<a href="{{ highlighted.url }}">
		<img src="{{ highlighted.img }}" alt="{{ highlighted.desc }}">
	</a>
	<p>{{ highlighted.desc }}</p>
</section>
{% endif %}
<section>
	{% for project in selected_projects %}
		{% if project.private and is_auth_user %}
			<p><a href="{{ project.url }}">{{ project.title }}</a></p>
		{% elseif not project.private %}
			<p><a href="{{ project.url }}">{{ project.title }}</a></p>
		{% endif %}
	{% endfor %}
</section>
