title = "bsouetre/home"
url = "/"
layout = "base"
meta_title = "Bonjour ! | Bruno Souêtre — Graphiste"
meta_description = "Bonjour ! Bienvenue sur le site de Bruno Souêtre, graphiste à Cambrai."
is_hidden = 0

[siteHomePage]
==
{% partial 'svg' %}
{% partial 'header' %}

<section class="homeProjectsContainer">

</section>

{% if highlighted.activated %}
<section>
	<a href="{{ highlighted.url }}">
		<img src="{{ highlighted.img }}" alt="{{ highlighted.desc }}">
	</a>
	<p>{{ highlighted.desc }}</p>
</section>
{% endif %}

<section>
	{% for project in selected_projects %}
		{% if project.private and is_auth_user %}
			<p><a href="{{ project.url }}">{{ project.title }}</a></p>
		{% elseif not project.private %}
			<p><a href="{{ project.url }}">{{ project.title }}</a></p>
		{% endif %}
	{% endfor %}
</section>

<section class="thumbContainer">
	{% for project in selected_projects %}
		<div class="item">
			<div class="aspectRatioBox" style="{{ 'padding-bottom:' ~ project.getThumbDimensions.height_percent_ratio ~ '%;' }}"></div>
			<div data-src="{{ project.cover_thumb.getPath|app }}" class="thumbBox lazyImg">
				<!--
				<img data-src="https://cdn-images-1.medium.com/max/2000/1*NZpgpdDxZ6v8_0lvQgkrdw.jpeg" src="">
				<noscript>
					<img src="">
				</noscript>
				-->
			</div>
		</div>
	{% endfor %}
</section>

{% partial 'footer' %}
{% partial 'back-to-top-button' %}
