title = "bsouetre/project"
url = "/projet/:name|^[a-z0-9\-]+$"
layout = "base"
meta_title = "Bruno Souêtre — Graphiste"
meta_description = "Projet"
is_hidden = 0

[siteProjectPage]
==
<?php

function onEnd()
{
	$this->meta_title = $this->project->title . ' | ' . $this->meta_title;
	$this->meta_description = ' : ' . $this->project->title;
}

?>
==
{% partial 'svg' %}
{% partial 'header' %}

<section>
	<h1>{{ project.title }}</h1>
	{% if project.show_date %}
		<p>{{ project.date|date( date_format ) }}</p>
	{% endif %}
	{% if project.category %}<p><a href="{{ project.category.slug }}">{{ project.category.name }}</a></p>{% endif %}
	{% if project.tags %}
		<p>
			{% for tag in project.tags %}
				<a href="{{ tag.slug }}">{{ tag.name }}</a>{%if not loop.last %}, {% endif %}
			{% endfor %}
		</p>
	{% endif %}
	{{ project.content|exmd }}
</section>

{% partial 'footer' %}
{% partial 'back-to-top-button' %}
