/* 	======================================================================
		|	STRUCTURE / ABOUT
		======================================================================
		====================================================================== */


.aboutContent {
	max-width: 140rem;
	padding-top: 30rem;
	margin-left: auto;
	margin-right: auto;

	@media ( max-width: em( 900px ) ) {
		padding-top: 20rem;
	}

	@media ( max-width: em( 600px ) ) {
		padding-top: 12rem;
	}

	> h1 {
		max-width: 66.6666%;
		margin: 0 auto;

		@media ( max-width: em( 900px ) ) {
			font-size: 5rem;
			max-width: none;
			padding: 0 2rem;
		}

		@media ( max-width: em( 600px ) ) {
			font-size: 3.6rem;
		}
	}

	> .titleBottomSep {
		max-width: 66.6666%;
		height: .4rem;
		margin-top: 8rem;
		margin-bottom: 8rem;

		@media ( max-width: em( 900px ) ) {
			margin-top: 4rem;
			margin-bottom: 4rem;
			margin-left: 2rem;
			margin-right: 2rem;
			max-width: none;
			height: .2rem;
		}

		@media ( max-width: em( 600px ) ) {
			margin-top: 3rem;
			margin-bottom: 3rem;
		}
	}

	.aboutBio {
		max-width: 66.6666%;
		margin: 0 auto;

		@media ( max-width: em( 900px ) ) {
			max-width: none;
			padding: 0 2rem;
		}

		> p {
			padding: 0;
			font-size: $typoAboutBioSize;
			font-weight: 700;
			color: $colorTypoAlt;

			@media ( max-width: em( 600px ) ) {
				font-size: 2rem;
			}

			@media ( max-width: em( 400px ) ) {
				padding: 0 1rem;
			}

			a {
				text-decoration: none;
				padding: 0 .4em;
				background-image: linear-gradient( darken( $colorBgMain, 20% ), darken( $colorBgMain, 20% ) );
				background-position: 0 100%;
				background-size: 100% 38%;
				background-repeat: no-repeat;
				transition: background-size 150ms ease-out;

				&:focus,
				&:hover,
				&:active {
					background-size: 100% 100%;
				}
			}
		}
	}

	.aboutLinks {
		max-width: 140rem;
		margin: 16rem auto 0;

		@media ( max-width: em( 600px ) ) {
			margin-top: 10rem;
		}

		> h3 {
			text-align: center;
		}

		> .subTitleBottomSep {
			margin-top: 6rem;
			margin-bottom: 8rem;

			@media ( max-width: em( 600px ) ) {
				margin-top: 5rem;
				margin-bottom: 5rem;
			}
		}

		> ul {
			padding: 0;
			margin: 0;
			list-style: none;
			-webkit-perspective: 1; // Chrome fix
			column-count: 3;
			column-gap: 1rem;

			@media ( max-width: em( 1100px ) ) {
				column-count: 2;
			}

			@media ( max-width: em( 600px ) ) {
				column-count: auto;
			}

			> li {
				text-align: center;
				padding: .5rem 0;
				display: inline-block;
				width: 100%;
				font-size: $typoAboutLinkSize;

				@media ( max-width: em( 900px ) ) {
					font-size: 1.6rem;
				}

				@media ( max-width: em( 600px ) ) {
					font-size: 1.6rem;
				}

				> a {
					text-decoration: none;
					color: $colorTypoBase;
					padding: 0 .4em;
					background-image: linear-gradient( $colorTypoLinkUnderlineHover, $colorTypoLinkUnderlineHover );
					background-position: 0 100%;
					background-size: 100% 38%;
					background-repeat: no-repeat;
					transition: background-size 150ms ease-out;

					&:focus,
					&:hover,
					&:active {
						background-size: 100% 100%;
					}
				}
			}
		}
	}
}
