/* 	======================================================================
		|	STRUCTURE / ARCHIVES
		======================================================================
		====================================================================== */

body.Archives {
	color: #32271e;
	text-decoration: none;
	border-bottom: 4px solid #32271e;
	transition: border-color 200ms ease, color 200ms ease;
}
