/* 	======================================================================
		|	STRUCTURE / CONTACT
		======================================================================
		====================================================================== */


.contactContent {
	> h1 {
		text-align: center;
	}

	> .titleBottomSep {
		margin-top: 10rem;
		margin-bottom: 10rem;
	}

	> p {
		text-align: center;
		font-size: 3rem;

		.contactMail {
			text-transform: uppercase;
			font-family: $typoTitleStack;
			font-size: 4.6rem;
			font-weight: 900;
			color: $colorTypoBase;
			text-decoration: none;
			background-image: linear-gradient( $colorTypoLinkUnderlineHover, $colorTypoLinkUnderlineHover );
			background-position: 0 100%;
			background-size: 100% 36%;
			background-repeat: no-repeat;
			padding: 0 .2em;
			transition: background-size 150ms ease-out;

			&:focus,
			&:hover,
			&:active {
				background-size: 100% 100%;
			}
		}
	}
}

.ContactMail {
	color: #32271e;
	text-decoration: none;
	border-bottom: 4px solid #32271e;
	transition: border-color 200ms ease, color 200ms ease;
}
.ContactMail:focus,
.ContactMail:hover,
.ContactMail:active {
	border-bottom-color: #b0a59d;
	color: #b0a59d;
}
