/* 	======================================================================
		|	STRUCTURE / GLOBAL
		======================================================================
		====================================================================== */


/* === BACK SQUARE TOP BUTTON === */

.butBackSquareTop {
	position: fixed;
	display: block;
	width: 5rem;
	height: 5rem;
	border-style: solid;
	border-color: $colorButton;
	border-width: .3rem;
	right: 8%;
	bottom: 8%;
	opacity: 1;
	transition: background-size 150ms ease-out, opacity 250ms ease-out;
	background-image: linear-gradient( $colorButton, $colorButton );
	background-position: 0 100%;
	background-size: 100% 0;
	background-repeat: no-repeat;

	&.hide {
		opacity: 0;
		pointer-events: none;
	}

	@media ( max-width: 112.5em ) {
		right: 5%;
	}

	@media ( max-width: 96.25em ) {
		right: 2.5rem;
		bottom: 4rem;
	}

	@media ( max-width: 43.75em ) {
		bottom: 3rem;
		width: 4rem;
		height: 4rem;
	}

	&:focus,
	&:hover,
	&:active {
		background-size: 100% 100%;

		& > svg {
			fill: $colorTypoLinkHover;
		}
	}

	& > svg {
		fill: $colorButton;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate( -50%, -50% );
		transition: fill 100ms ease-out;
	}
}

/* === BACK SQUARE LEFT BUTTON === */

.butBackSquareLeft {
	position: relative;
	display: inline-block;
	line-height: 4.4rem;
	border-width: .3rem;
	border-color: $colorButton;
	border-style: solid;
	text-decoration: none;
	text-transform: uppercase;
	padding: 0 2rem 0 5rem;
	transition: background-size 150ms ease-out, color 100ms ease-out;
	background-image: linear-gradient( $colorButton, $colorButton );
	background-position: 100% 0;
	background-size: 0 100%;
	background-repeat: no-repeat;

	&:focus,
	&:hover,
	&:active {
		color: $colorTypoLinkHover;
		background-size: 100% 100%;

		> svg {
			fill: $colorTypoLinkHover;
		}
	}

	> svg {
		fill: $colorButton;
		transform: translate( 0, -50% ) rotate( -90deg );
		position: absolute;
		top: 50%;
		left: 1.4rem;
		transition: fill 100ms ease-out;
	}

	> span {
		font-size: $typoBackToHomeSize;
	}
}

/* === SVG ICON === */

#logo-afd,
#logo-400p,
#logo-rgsone {
	fill: $colorIcon;
}

#logo-rgsone .cls,
#logo-galeries {
	stroke: $colorIcon;
}

/* === 404 / ERROR CONTAINER === */

.errorContainer {
	> h3 {
		text-align: center;
		font-family: $typoTitleStack;
		font-size: $typoErrorTitleSize;
		text-transform: uppercase;
		padding: 12rem 2rem 6rem;
		margin: 0;
	}

	> p {
		text-align: center;
		margin: 0;
	}
}
