/* 	======================================================================
		|	STRUCTURE / HOME
		======================================================================
		====================================================================== */


/* === CONTENT === *

.content {
	background-color: $colorBgContent;
	max-width: $measureContentMaxWidth;
	padding: 31rem 5rem 15rem;
	margin: 0 auto;
	overflow: visible;
	position: relative;

	@media ( max-width: em( 1200px ) ) {
		padding-top: 20rem;
		padding-left: 3rem;
		padding-right: 3rem;
		padding-bottom: 10rem;
	}

	@media ( max-width: em( 746px ) ) {
		padding-left: 1rem;
		padding-right: 1rem;
		padding-bottom: 6rem;
	}

	.illuShopContainer {
		height: 92rem;
		left: 0;
		right: 0;
		top: -70rem;
		position: absolute;
		background-image: url( $imgUrlHeaderIlluBig );
		background-position: center bottom;
		background-repeat: no-repeat;
		pointer-events: none;

		@media ( max-width: em( 1200px ) ) {
			height: 60rem;
			top: -40rem;
			background-image: url( $imgUrlHeaderIlluMedium );
			background-position: center center;
		}

		@media ( max-width: em( 660px ) ) {
			background-image: url( $imgUrlHeaderIlluSmall );
		}
	}

	.topSep {
		max-width: 32rem;
		height: .8rem;
		background-color: $colorTopSeparator;
		margin: 0 auto 18rem;

		@media ( max-width: em( 1200px ) ) {
			height: .6rem;
			margin-bottom: 12rem;
		}
	}

	.articleSep {
		text-align: center;
		margin-top: 12rem;
		height: .1rem;
		background-color: $colorArticleSeparator;
		margin-left: auto;
		margin-right: auto;

		@media ( max-width: em( 1200px ) ) {
			margin-top: 8rem;
		}

		@media ( max-width: em( 460px ) ) {
			margin-top: 5rem;
		}

		+ article {
			margin: 15rem 0 0;

			@media ( max-width: em( 1200px ) ) {
				margin-top: 10rem;
			}

			@media ( max-width: em( 460px ) ) {
				margin-top: 7rem;
			}
		}
	}

	article {
		> h3 {
			font-family: $typoTitleStack;
			text-transform: uppercase;
			text-align: center;
			margin: 0 0 10rem;

			@media ( max-width: em( 1200px ) ) {
				margin-bottom: 6rem;
			}

			span {
				background-image: linear-gradient( $colorTypoTitleUnderline, $colorTypoTitleUnderline );
				background-position: 0 100%;
				background-size: 100% 40%;
				background-repeat: no-repeat;
				padding: 0 .1em;
				line-height: 1;
				font-size: $typoArticleTitleSize;

				@media ( max-width: em( 1200px ) ) {
					font-size: 3.6rem;
				}

				@media ( max-width: em( 746px ) ) {
					font-size: 2.8rem;
				}
			}
		}

		> figure {
			text-align: center;

			+ figure {
				margin-top: 3rem;

				@media ( max-width: em( 1200px ) ) {
					margin-top: 2rem;
				}
			}

			+ p {
				margin: 6rem 0 0;

				@media ( max-width: em( 1200px ) ) {
					margin-top: 4rem;
				}
			}
		}

		> p {
			text-align: center;
			font-size: $typoArticlePSize;

			@media ( max-width: em( 1200px ) ) {
				font-size: 1.6rem;
			}

			@media ( max-width: em( 746px ) ) {
				font-size: 1.5rem;
			}

			+ p {
				margin-top: 4rem;
				@media ( max-width: em( 1200px ) ) {
					margin-top: 3rem;
				}
			}

			+ figure {
				margin-top: 6rem;
				@media ( max-width: em( 1200px ) ) {
					margin-top: 4rem;
				}
			}

			a {
				background-image: linear-gradient( $colorTypoLinkUnderlineHover, $colorTypoLinkUnderlineHover );
				background-position: 0 1em;
				background-size: 100% 100%;
				background-repeat: no-repeat;
				padding: .1em .2em;
				transition: background-position 150ms ease-out, color 150ms ease-out;
				font-weight: 400;
				color: $colorTypoLink;
				text-decoration: none;

				&:focus,
				&:hover,
				&:active {
					color: $colorTypoLinkHover;
					background-position: 0 .1em;
				}
			}
		}
	}
}
*/
