/*! brunosouetre.net | @author rgsone | @url rgsone.com */
/*	======================================================================
		======================================================================
		|
		|		    ___           ___           ___           ___           ___           ___
		|	     /\  \         /\  \         /\  \         /\  \         /\__\         /\  \
		|	    /::\  \       /::\  \       /::\  \       /::\  \       /::|  |       /::\  \
		|	   /:/\:\  \     /:/\:\  \     /:/\ \  \     /:/\:\  \     /:|:|  |      /:/\:\  \
		|	  /::\~\:\  \   /:/  \:\  \   _\:\~\ \  \   /:/  \:\  \   /:/|:|  |__   /::\~\:\  \
		|	 /:/\:\ \:\__\ /:/__/_\:\__\ /\ \:\ \ \__\ /:/__/ \:\__\ /:/ |:| /\__\ /:/\:\ \:\__\
		|	 \/_|::\/:/  / \:\  /\ \/__/ \:\ \:\ \/__/ \:\  \ /:/  / \/__|:|/:/  / \:\~\:\ \/__/
		|	    |:|::/  /   \:\ \:\__\    \:\ \:\__\    \:\  /:/  /      |:/:/  /   \:\ \:\__\
		|	    |:|\/__/     \:\/:/  /     \:\/:/  /     \:\/:/  /       |::/  /     \:\ \/__/
		|	    |:|  |        \::/  /       \::/  /       \::/  /        /:/  /       \:\__\
		|	     \|__|         \/__/         \/__/         \/__/         \/__/         \/__/
		|
		|
		|		brunosouetre.net
		|
		|		@author rudy marc
		|		@contact rgs@rgsone.com
		|		@url http://rgsone.com
		|
		======================================================================
		====================================================================== */

/*	== libs ===========================================
		=================================================== */

@import "node_modules/normalize.css/normalize";

/*	== var ============================================
		=================================================== */

//////-> COLOR


$colorBgMain: #f3ede4;
$colorBgHeader: #da4044;
$colorBgFooter: #fbf5eb;

$colorTypoBase: #333;
$colorTypoAlt: #fc5454;
$colorTypoLink: #333;
$colorTypoLinkHover: #fcf4e8;
$colorTypoLinkUnderlineHover: #fc5454;

$colorTypoSiteNav: #f3ede4;

$colorTypoTitleUnderline: #fc5454;

$colorSelectionBg: #fc5454;
$colorSelectionTypo: #fcf4e8;

$colorIcon: #fc5454;
$colorButton: #fc5454;

$colorSiteNavBorder: #f3ede4;
$colorSiteNavHover: #fc5454;

$colorFooterNavSeparator: #fc5454;
$colorTitleSeparator: #fc5454;

/////-> TYPO

$browserContextSize: 16;

$typoBaseStack: RobotoMono, monospace;
$typoBaseSize: 1.6rem;
$typoBaseWeight: 400;
$typoBaseLineHeight: 1.5;

$typoTitleStack: Rubik, Helvetica, "Helvetica Neue", sans-serif;
$typoTitleWeight: 900;
$typoTitleLineHeight: 1;
$typoTitleH1Size: 6.6rem;
$typoTitleH3Size: 4rem;
$typoTitleH4Size: 2.2rem;

$typoBackToHomeSize: 1.6rem;

$typoErrorTitleSize: 4rem;

$typoSiteNavSize: 1.8rem;

$typoFooterNavIconSize: 1.2rem;

$typoAboutBioSize: 2.8rem;
$typoAboutLinkSize: 1.8rem;

$typoHomeHighlightedDescSize: 1.8rem;
$typoHomeArchivesButSize: 1.4rem;
$typoHomeItemDateSize: 1.5rem;
$typoHomeItemCategorySize: 1.1rem;

//////-> MEASURE

$measureAboutContentMaxWidth: 110rem;

//////-> IMGURL

$imgUrlBgHeaderBsouetre: '../static/img/header-txt-bsouetre.svg';
$imgUrlThumbLoader: '../static/img/thumb-loader.svg';


/*	== includes =======================================
		=================================================== */

@import "includes/helpers";

/*	== styles =========================================
		=================================================== */

@import "app/font";
@import "app/base";

@import "app/pages/global";
@import "app/pages/home";
@import "app/pages/about";
@import "app/pages/contact";

@import "app/pages/partials/header";
@import "app/pages/partials/footer";
